<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.udiploma">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".CGPA"></activity>
        <activity android:name=".BookList" />
        <activity android:name=".District.DhakaDistrict" />
        <activity android:name=".District.ChittagongDistrict" />
        <activity android:name=".District.BarishalDistrict" />
        <activity android:name=".District.KhulnaDistrict" />
        <activity android:name=".District.MymenshinghDistrict" />
        <activity android:name=".District.RajshahiDistrict" />
        <activity android:name=".District.SylhetDistrict" />
        <activity android:name=".District.RangpurDistrict" />
        <activity android:name=".DistrictActivity" />
        <activity android:name=".BooklistActivity" />
        <activity android:name=".Bord" />
        <activity android:name=".Calender" />
        <activity android:name=".SemesterResult" />
        <activity android:name=".DiplomaResult" />
        <activity android:name=".Probidhan" />
        <activity android:name=".Admissionbteb" />
        <activity android:name=".ResultOption" />
        <activity android:name=".ViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>